.hero-wrapper {
    height: 100vh;
    position: relative;
    background-image: url('../images/hero-image.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.section-description {
    color: #8d96a7;
    max-width: 48rem;
    font-size: 1rem;
}
