.hero {
    position: relative;
    background-image: radial-gradient(
        circle,
        #d7d7d7,
        #d7d7d7 1px,
        #fff 1px,
        #fff
    );
    height: 100%;
    background-size: 28px 28px;
}

#intro h5 {
    color: $brand-primary;;
    font-size: 1.25rem;
    font-weight: bolder;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.section-description {
    text-align: center;
    color: $sm-title-color;
    margin: -1.5rem auto 3rem;
    max-width: 48rem;
    font-size: 0.875rem;
}

