h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-color;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: capitalize;

    span {
        font-weight: 500;
    }
}

#services h3 {
    color: $brand-primary;
    text-transform: capitalize;
}

h3 {
    color: $sm-title-color;
    font-size: 0.85rem;
    font-weight: bold;
}

p {
    font-size: 0.875rem;
    line-height: 1.75rem;
}

footer p {
    font-size: 0.75rem;
    line-height: 1.5;
}
