.hero {
    background-image: radial-gradient(circle, #d7d7d7, #d7d7d7 1px, $white 1px, $white);
    height: 100vh;
    background-size: 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-600;
}

.intro-social {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#intro h1 {
    margin-top: .85rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: .85;
    letter-spacing: -.05rem;
}
.intro-social a {
    color: $gray-600;
}