h5 {
    color: $primary;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.565;
    margin-bottom: 0;
}

.section-intro h1 {
    font-size: 1.5rem;
    line-height: .85;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: -.05rem;
}

.intro-info p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}